# builds docker image and pushes to Gitlab container.
# Then deploys to Azure VM  
# Docker image is built using the Dockerfile in the shivawebapp directory.
image: docker:20.10.16

services:
  - docker:20.10.16-dind

variables:
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_BUILDKIT: "1"

stages:
  - build
  - deploy

before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

build:
  stage: build
  script:
    - docker build --cache-from $CI_REGISTRY_IMAGE:latest -t $CI_REGISTRY_IMAGE:latest .
    - docker push $CI_REGISTRY_IMAGE:latest
  only:
    - main

deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client sshpass
  script:
    - export SSHPASS=$SERVER_PASSWORD
    - sshpass -e ssh -o StrictHostKeyChecking=no $SERVER_USER@20.191.141.135 "
        cd /home/humacv2admin/humacv2/ &&
        docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY &&
        docker stop shivawebapp || true &&
        docker rm shivawebapp || true &&
        docker rmi $CI_REGISTRY_IMAGE:latest || true &&
        docker pull $CI_REGISTRY_IMAGE:latest &&
        docker compose up -d shivawebapp"
  only:
    - main